@import 'variables';
@import 'functions';

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light-color;
  color: $dark-color;
  font-family: $font-stack;
  line-height: 1.5;
}

// in sass one can nest the selectors mimicking the html
header {
  background: $secondary-color;
  color: set-text-color($secondary-color);
  padding: 1rem;

  h1 {
    text-align: center;
  }
}

.section {
  padding: 3rem;

  h3 {
    font-size: 2rem;
  }

  &-a {
    background: $primary-color;
    color: set-text-color($primary-color);
  }

  &-b {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

// nested psuedo selector a:hover
// a {
//   color: #333;
//   &:hover {
//     color: coral;
//   }
// }

%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

// Two different styles here
// .btn-light {
//   @extend %btn-shared;
//   background-color: $light-color;
//   color: #333;
// }

// .btn-dark {
//   @extend %btn-shared;
//   background-color: $dark-color;
//   color: #333;
// } OR BELOW

// incapsulated method
.btn {
  &-light {
    @extend %btn-shared;
    background: $light-color;
    color: set-text-color($light-color);

    &:hover {
      @include transform(rotate(20deg));
      // color function darken will make color dark by 10%
      background-color: darken($light-color, 10%);
    }
  }

  &-dark {
    @extend %btn-shared;
    background: $dark-color;
    color: set-text-color($dark-color);

    &:hover {
      @include transform(rotate(-20deg));
      background-color: lighten($dark-color, 10%);
    }
  }
}
